<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--文件的引入-->
    <include file="Public/meta" />
</head>
<body>
<!--产品与服务LAN-->
    <include file="Public/navbar"/>
    <div class="down-main">
        <div class="left-main left-full">
            <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
            <include file="Public/sidebar" />
        </div>
        <div class="right-product right-full">
            <div class="main-content">
                <iframe id="content-iframe" src="{:U('Admin/Index/welcome')}" frameborder="0" width="100%" height="100%" name="right_content" scrolling="auto" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__ADMIN_JS__/common.js"></script>
    <script type="text/javascript">

    $(function(){

        // 动态调整iframe的高度以适应不同高度的显示器
        $('.main-content').height($(window).height()-50);

    })
    </script>
</body>
</html>
