<footer class="site-info-w J-br" style="min-height:298px;">
    <a href="//www.meituan.com/sitemap/citysitemap.php" target="_blank" title="网站地图"></a>
<textarea style="display:none;" class="J-bigrender-data" data-br-beforerender='e.target.one(&#039;a&#039;).remove(true);'>    <div class="site-outer">
        <div class="site-info">
            <div class="site-info__item">
                <h3>获取更新</h3>
                <ul>
                    <li><a href="http://www.meituan.com/mobile/">iPhone/Android</a></li>
                    <li><a rel="nofollow" href="http://user.qzone.qq.com/97231705" target="_blank">美团QQ空间</a></li>
                    <li><a rel="nofollow" href="http://t.sina.com.cn/meituannj" target="_blank">美团新浪微博</a></li>
                    <li><a href="//www.meituan.com/sitemap/citysitemap.php" target="_blank">sitemap</a></li>
                    <li><a rel="nofollow" href="/feed/nanjing" target="_blank">RSS订阅</a></li>
                </ul>
            </div>
            <div class="site-info__item">
                <h3>商务合作</h3>
                <ul>
                    <li><a rel="nofollow" href="http://emis.meishi.meituan.com/merchantsSettled" gaevent="footer/seller">商家合作</a></li>
                    <li><a rel="nofollow" href="http://zhaoshang.meituan.com/" gaevent="footer/mmp">美团商家营销平台</a></li>
                    <li><a rel="nofollow" href="//daili.meituan.com/?comeFrom=mtwebBusinesscoopd" target="_blank">到店餐饮代理商招募</a></li>
                    <li><a rel="nofollow" href="http://www.meituan.com/about#contact">市场合作</a></li>
                    <li><a rel="nofollow" href="http://union.meituan.com/" target="_blank">美团联盟</a></li>
                    <li><a rel="nofollow" target="_blank" href="http://mos.meituan.com">美团云</a></li>
                    <li><a rel="nofollow" target="_blank" href="mailto:lianzheng@meituan.com">廉正邮箱</a></li>
                    <li><a rel="nofollow" target="_blank" href="http://developer.meituan.com/?applyFrom=meituan_c_pc_home#/home?_k=876stc">聚宝盆餐饮开放平台</a></li>
                    <li><a rel="nofollow" target="_blank" href="http://shouyin.meituan.com/home">美团点评智能收银机</a></li>
                    <li><a rel="nofollow" target="_blank" href="//i.meituan.com/awp/app/menuorder-ecom/orderapplywelcome.html?activity_code=MTPCSWHZ">点餐秒付合作申请</a></li>
                    <li><a rel="nofollow" target="_blank" href="//smartpay.meituan.com/">美团智能支付</a></li>
                     
                </ul>
            </div>
            <div class="site-info__item">
                <h3>公司信息</h3>
                <ul>
                    <li><a rel="nofollow" href="http://www.meituan.com/about/">关于美团</a></li>
                    <li><a rel="nofollow" href="http://www.meituan.com/commitment/">美团承诺</a></li>
                    <li><a rel="nofollow" href="http://www.meituan.com/about/press">媒体报道</a></li>
                    <li><a rel="nofollow" href="http://zhaopin.meituan.com" gaevent="footer/job">加入我们</a></li>
                    <li><a rel="nofollow" href="http://www.meituan.com/about/law">法律声明</a></li>
                    <li><a rel="nofollow" href="http://www.meituan.com/about/terms">用户协议</a></li>
                    <li><a rel="nofollow" href="http://www.meituan.com/about/privacy">隐私政策</a></li>
                    <li><a rel="nofollow" href="http://www.meituan.com/about/bizlicense">商户服务协议</a></li>
                    <li><a rel="nofollow" href="http://www.meituan.com/about/saferule">美团点评餐饮安全管理办法</a></li>
                </ul>
            </div>
            <div class="site-info__item">
                <h3>用户帮助</h3>
                <ul>
                    <li><a rel="nofollow" class="J-selfservice-tab" data-tab="0" href="http://www.meituan.com/help/selfservice">申请退款</a></li>
                    <li><a rel="nofollow" class="J-selfservice-tab" data-tab="2" href="http://www.meituan.com/help/selfservice?tab=2">查看美团券密码</a></li>
                    <li><a rel="nofollow" href="http://www.meituan.com/help/faq">常见问题</a></li>
                    <li><a rel="nofollow" href="http://www.meituan.com/help/api">开放API</a></li>
                    <li><a rel="nofollow" href="http://www.meituan.com/about/anticheat">反诈骗公告</a></li>
                </ul>
            </div>
            <div class="site-info__item site-info__item--service">
		<div class="site-info-service-content">
                    <i class="hotline"></i>
                    <p class="contact-name">客服电话</p>
                    <p class="contact-info">
		        <span class="contact-numbers">10107888</span>
		        <span class="contact-time">(9:00-23:00)</span>
		    </p>
                    <p class="desc">退款、退换货、查看美团券</p>
                    <p><a href="http://www.meituan.com/help/selfservice" class="selfservice-link" gaevent="footer/selfservice">参考教程，轻松搞定!</a></p>
	        </div>
            </div>
	    <div class="clear"></div> 
	</div>
    </div>
    <div class="copyright">
        <p>&amp;copy;<span title="I:1; Q:8; S:8; C:4; F:0; T:298.30; H:com">2017</span><a href="http://www.meituan.com/">美团网团购</a> meituan.com <a href="http://www.beianbeian.com/beianxinxi/283f39a9-4c00-427a-97ef-3c7a9e1e0af1.html" target="_blank" rel="nofollow">京ICP证070791号</a> |
        <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">京ICP备10211739号</a> |
        <a href="http://www.meituan.com/about/rules" target="_blank" rel="nofollow"> 电子公告服务规则</a></p>
        <div style="width:300px;margin:0 auto; padding:20px 0; text-align: center;">
        <a target="_blank" href="http://i.meituan.com/brunch/default/right" style="display: block; height: 20px;">广播电视节目制作经营许可证（京）字第03889号</a>
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502025545" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;" rel="nofollow"><img src="//s0.meituan.net/bs/file/?f=fewww:/www/img/wangan.png@088bc3b" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">京公网安备11010502025545号</p></a>
        </div>
    </div>
    <ul class="cert cf">
        <li class="cert__item"><a class="sp-ft sp-ft--record" title="备案信息" href="http://www.meituan.com/about/openinfo" hidefocus="true" target="_blank">备案信息</a></li>
        <li class="cert__item"><a class="sp-ft sp-ft--knet" href="http://t.knet.cn/index_new.jsp" target="_blank" title="可信网站认证" rel="nofollow">可信网站</a></li>
        <li class="cert__item"><a class="sp-ft sp-ft--12315" href="http://www.bj315.org/xfwq/lstd/201209/t20120910_3344.shtml?dnrpluojqxbceiqq" target="_blank" title="12315消费争议" rel="nofollow">12315消费争议</a></li>
    </ul>
</textarea></footer>
</body>
</html>
